#srec_hyp {margin-top: 15px;font-weight: bold;}
#model_config {margin: 15px;}
#srec_hyp_nbest {margin-left: 15px;}
#info-box {margin-left: 15px; width: 600px;}
audio {display: none; margin-top: 15px}
